# will have compiled files and executables
/target/

.idea/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.restate
kls_database.db
services/node-services/restatedev-restate-sdk-*

