name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "12 0 * * *" # 00:12am UTC daily

jobs:
  build-and-test:
    name: Build and test (Java ${{ matrix.java }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java: [ 21 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run
        run: ./gradlew run --args='run'

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Test results (Java ${{ matrix.java }})
          path: "**/test-results/test/*.xml"

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Event File
          path: ${{ github.event_path }}