name: E2E

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # Every 6 hours
  workflow_dispatch: # To start from UI

jobs:
  build:
    if: github.repository == 'restatedev/e2e'
    runs-on: ubuntu-latest
    timeout-minutes: 45
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      # Setup Java
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      # Setup node
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_PACKAGE_READ_ACCESS_USER }}
          password: ${{ secrets.GH_PACKAGE_READ_ACCESS_TOKEN }}

      # Run tests
      - name: Test
        uses: gradle/gradle-build-action@v2
        env:
          GH_PACKAGE_READ_ACCESS_USER: ${{ secrets.GH_PACKAGE_READ_ACCESS_USER }}
          GH_PACKAGE_READ_ACCESS_TOKEN: ${{ secrets.GH_PACKAGE_READ_ACCESS_TOKEN }}
          E2E_IMAGE_PULL_POLICY: always
          NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGE_READ_ACCESS_TOKEN }}
          E2E_VERIFICATION_SEED: ${{ github.run_id }}
        with:
          arguments: -Djib.console=plain build

      # Upload container logs
      - uses: actions/upload-artifact@v3
        if: always() # Make sure this is run even when test fails
        with:
          name: container-logs
          path: |
            tests/build/test-results/*/container-logs/**
            tests/build/reports/tests/**
            tests/build/test-results/*/*.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            tests/build/test-results/*/*.xml


