name: E2E

# Controls when the workflow will run
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # Every 6 hours
  workflow_dispatch: # To start from UI
    inputs:
      sdkTypescriptCommit:
        description: 'sdk-typescript commit'
        required: false
        default: ''
        type: string
  workflow_call:
    inputs:
      sdkTypescriptCommit:
        description: 'sdk-typescript commit'
        required: false
        default: ''
        type: string
    secrets:
      E2E_CONTENTS_READ_TOKEN:
        description: 'token to allow reading the contents of the e2e repo, for cross-repo workflow calls'
        required: true

jobs:
  build:
    # prevent e2e running on forks
    if: github.repository_owner == 'restatedev'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
      actions: read
    steps:
      - uses: actions/checkout@v3
        with:
          repository: restatedev/e2e
          token: ${{ secrets.E2E_CONTENTS_READ_TOKEN || secrets.GITHUB_TOKEN  }}

      # Setup Java
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      # Setup node
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_PACKAGE_READ_ACCESS_USER }}
          password: ${{ secrets.GH_PACKAGE_READ_ACCESS_TOKEN }}

      # Setup sdk-typescript snapshot if necessary
      - name: Download sdk-typescript snapshot
        if: ${{ inputs.sdkTypescriptCommit != '' }}
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.SDK_TYPESCRIPT_ACTION_READ_TOKEN || secrets.GITHUB_TOKEN }}
          repo: restatedev/sdk-typescript
          commit: ${{ inputs.sdkTypescriptCommit != '' }}
          name: restatedev-restate-sdk
          path: services/node-services

      - name: Install sdk-typescript snapshot
        if: ${{ inputs.sdkTypescriptCommit != '' }}
        run: npm install restatedev-restate-sdk.tgz
        working-directory: services/node-services

      # Run tests
      - name: Test
        uses: gradle/gradle-build-action@v2
        env:
          GH_PACKAGE_READ_ACCESS_USER: ${{ secrets.GH_PACKAGE_READ_ACCESS_USER }}
          GH_PACKAGE_READ_ACCESS_TOKEN: ${{ secrets.GH_PACKAGE_READ_ACCESS_TOKEN }}
          E2E_IMAGE_PULL_POLICY: always
          NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGE_READ_ACCESS_TOKEN }}
          E2E_VERIFICATION_SEED: ${{ github.run_id }}
        with:
          arguments: -Djib.console=plain build

      # Upload container logs
      - uses: actions/upload-artifact@v3
        if: always() # Make sure this is run even when test fails
        with:
          name: container-logs
          path: |
            tests/build/test-results/*/container-logs/**
            tests/build/reports/tests/**
            tests/build/test-results/*/*.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            tests/build/test-results/*/*.xml


